* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

.construction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px black solid;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;


}

header {
    background-color: #F6F6F6;
    height: 100vh;
    width: 100%;
    display: flex;
}

/* left side of header */

.left-header {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    position: relative;

}

.title-portfolio {
    text-transform: uppercase;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.firstandlast {
    font-size: 40px;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.title-and-email {
    display: flex;
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Varela', sans-serif;
}



.emailMe {
    border: 1px black solid;
    cursor: pointer;
    box-sizing: content-box;
    padding: 10px;
    
}

.job-title {
    padding: 10px;
}


/* Right side of header */
.right-header {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.cover-profile {
    object-fit: cover;
    overflow: hidden;
}



/* 
font-family: 'Oswald', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Varela', sans-serif;
*/


/* Ipad Scree */

.right-header {
    overflow: hidden;
}

@media only screen and (max-width: 1024px) {

}

/* Mobile */


@media only screen and (max-width: 1080px) {

    .construction {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
        height: 200vh;
    }

    .left-header {
        width: 100%;
        height: 100vh;
    }

    .title-portfolio {
        top: 10%;
        font-size: 5vw;
    }

    .firstandlast{
        top: 20%;
        font-size: 7vw;
    }

    .title-and-email {
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        bottom: 5%;
    }

    .job-title {
        margin: auto;
    }

    .emailMe {
        position: relative;
        margin: auto;
    }

    .right-header {
        width: 100%;
        height: 50vh;
    }

    .cover-profile {
        bottom: 25%;
        position: absolute;
        max-width: 100%;
    }


}