* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

/* .construction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px black solid;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;


} */

.headerMain {
    background-color: #F6F6F6;
    height: 70vh;
    width: 100%;
    display: flex;
}

/* left side of header */

.left-header {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    position: relative;

}

.title-portfolio {
    text-transform: uppercase;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.firstandlast {
    font-size: 40px;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.title-and-email {
    display: flex;
    position: absolute;
    bottom: 15%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Varela', sans-serif;
}



.emailMe {
    border: 1px black solid;
    cursor: pointer;
    box-sizing: content-box;
    padding: 10px;
    
}

.job-title {
    padding: 10px;
}


/* Right side of header */
.right-header {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.cover-profile {
    object-fit: cover;
    overflow: hidden;

}

.AboutMePhoto > img {
    position: relative;
    bottom: 30%;
    transition: 1s;
    cursor: pointer;
}

.AboutMePhoto > img:hover {
    transform: scale(1.2);
}

/* About Me Section */

.titleProject {
    text-align: center;
    font-family: 'Varela', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

.aboutMe_section{
    height: 50vh;
    background-color: #3C3C3B;
    display: flex;
    flex-direction: row;
}

.aboutMe_div {
    height: 100%;
    flex: 2;
    color: white;
    padding: 100px;
    font-family: 'Varela', sans-serif;
    font-size: 23px;
}

.aboutMe_div > p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.AboutMePhoto {
    flex: 1;
    overflow: hidden;
}

.myListProjects {
    height: 100vh;
    background-color: #F6F6F6;
    padding: 50px 200px 50px 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
}

.project_box {
    background-color: white;
    width: 320px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;

}

.project_one > img {
    width: 100%;
}


/* 
font-family: 'Oswald', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Varela', sans-serif;
*/


/* Ipad Scree */

.right-header {
    overflow: hidden;
}

@media only screen and (max-width: 1024px) {

}

/* Mobile */


@media only screen and (max-width: 1080px) {

    .construction {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
        height: 200vh;
    }

    .left-header {
        width: 100%;
        height: 100vh;
    }

    .title-portfolio {
        top: 10%;
        font-size: 5vw;
    }

    .firstandlast{
        top: 20%;
        font-size: 7vw;
    }

    .title-and-email {
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        bottom: 5%;
    }

    .job-title {
        margin: auto;
    }

    .emailMe {
        position: relative;
        margin: auto;
    }

    .right-header {
        width: 100%;
        height: 50vh;
    }

    .cover-profile {
        bottom: 25%;
        position: absolute;
        max-width: 100%;
    }
}

/* noteTaking Page */


.headerNoteTaking {
    text-align: center;
    font-family: 'Varela', sans-serif;
}

/* Input Container */
.inputContainer {
    position: relative;
    margin: auto;
    width: 300px;
    background-color: rgb(244, 248, 248);
    display: flex;
    justify-content: space-between;
    top: 50px;
    border-radius: 3px;
}

.inputContainer input {
    border: none;
    background-color: rgb(244, 248, 248);
    width: 80%;
    outline: none;
    padding-left: 10px;
    border-radius: 3px;
}

.inputContainer button {
    padding: 5px;
    width: 30px;
    cursor: pointer;
    background-color: #3C3C3B;
    border: none;
    font-size: 15px;
    outline: none;
    border-radius: 0 3px 3px 0;

}

.inputContainer button:hover {
    background-color: #5f5f5f;
}

.noteContainer {
    background-color: #DCDBDB;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}


.note {
    font-size: 20px;
}

.toDoContainer {
    width: 400px;
    height: 700px;
    margin: 0 auto;
    top: 70px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.toDoContainer div {
    margin-top: 5px;
    background-color: whitesmoke;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toDoContainer p {
    margin-left: 5px;
    padding: 6px;
    font-family: 'Comfortaa', cursive;
}

.toDoContainer p:hover {
    cursor: pointer;
}

.toDoContainer span {
    background-color: #3C3C3B;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    font-size: 8px;
}

.toDoContainer span:hover {
    background-color: #5f5f5f;
}
/* To Do Container */

.note {
    width: 200px;
    text-align: center;
    top: 60px;
    position: relative;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
}